<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    {{#persons}}
        <tr>
            <td>id: {{id}}</td>
            <td>age :{{age}}</td>
            <td>salary : {{salary}}</td>
        </tr>
    {{/persons}}
</table>

</body>
</html>